@import "compass", "compass/reset", "compass/css3/font-face", "media-queries", "compass/css3/background-size", "compass/css3/border-radius", "compass/css3/transition";


// ----------------------------------------------------------------------------------------------------- INCLUDE, EXTEND
//@include font-face("???", font-files("???.ttf"));
// ------------------------------------------------------------------------------------------------ /end include, extend


// -------------------------------------------------------------------------------------------------------------- GLOBAL
.no-margin {margin: 0 !important}
.no-gutter > [class*='col-'] {
  padding-right:0;
  padding-left:0;
}
.left {float: left;}
.right {float: right;}
a {
  &:hover {
    text-decoration: none;
  }
}
//body {
//  color: #ffffff;
//}
// --------------------------------------------------------------------------------------------------------- /end global


// -------------------------------------------------------------------------------------------------------------- HEADER
#header {
  padding-left: 0px;
  padding-right: 0px;
  @include background-size(cover);
  background-repeat: no-repeat;
  background-position: center top;
  background-attachment: scroll;
  background-image: url(../images/bg-night.jpg);
  .logo {
    padding-top: 50px;
    padding-bottom: 250px;
  }
  #header-title-container {
    font-style: italic;
    h1 {
      font-weight: lighter;
      font-size: 60px;
      align-items: center;
      padding-bottom: 10px;
    }
    p {
      font-size: 16px;
      line-height: 24px;
      padding-bottom: 100px;
    }
  }
}
// --------------------------------------------------------------------------------------------------------- /end header










