@import "compass", "compass/reset", "compass/css3/font-face", "media-queries", "compass/css3/background-size", "compass/css3/border-radius", "compass/css3/transition";


// ------------------------------------------------------------------------------------------------------------- SPRITES
@import "compass/utilities/sprites";
$icons-layout: vertical;
$icons-spacing: 10px;
$icons-sprite-dimensions: true;
@import "icons/*.png";
@include all-icons-sprites;
// ---------------------------------------------------------------------------------------------------------------------


// ----------------------------------------------------------------------------------------------------- INCLUDE, EXTEND
//@include font-face("???", font-files("???.ttf"));
// ------------------------------------------------------------------------------------------------ /end include, extend


// -------------------------------------------------------------------------------------------------------------- GLOBAL
.no-margin {margin: 0 !important}
.no-gutter > [class*='col-'] {
  padding-right:0;
  padding-left:0;
}
.left {float: left;}
.right {float: right;}
a {
  &:hover {
    text-decoration: none;
  }
}
body {
  background: #2d2d2d;
}
// -------------------------------------------------------------------------------------------------------------- HEADER
#header {
  padding-left: 0px;
  padding-right: 0px;
  @include background-size(cover);
  background-repeat: no-repeat;
  background-position: center top;
  background-attachment: scroll;
  background-image: url(../images/bg-night.jpg);
  .logo {
    padding-top: 50px;
    padding-bottom: 250px;
  }
  #header-title-container {
    font-style: italic;
    h1 {
      font-weight: lighter;
      font-size: 60px;
      align-items: center;
      padding-bottom: 10px;
    }
    p {
      font-size: 16px;
      line-height: 24px;
      padding-bottom: 100px;
    }
  }
}
// ----------------------------------------------------------------------------------------------------------------- MAP
#map-container {
  height: 350px;
  width: 100%;
  color: #6d6d6d;
  text-align: center;
  area {
    cursor: pointer;
  }
  h1 {
    font-size: 28px;
    text-transform: uppercase;
    margin-top: 50px;
    margin-bottom: 10px;
    font-weight: 200;
  }
  p {
    font-style: italic;

  }
}
#ocean {
  width: 960px;
  height: 560px;
  position: absolute;
  left: 235px;
  top: 130px;
  background-color: #6dacc0;
  @include border-radius(50%);
  border: 3px solid rgba(255, 255, 255, 0.40);
}
#puffle {
  margin-top: 180px;
  margin-left: 160px;
}
// -------------------------------------------------------------------------------------------------------------- BLOCKS
#blocks {
  margin-top: 60px;
  margin-bottom: 50px;
  .container {
    max-width: 850px;
  }
  h2 {
    text-align: center;
    font-size: 24px;
    padding-top: 20px;
    padding-bottom: 10px;
    color: #848484;
  }
  p {
    text-align: justify;
    color: #6d6d6d;
  }
}
// ---------------------------------------------------------------------------------------------------------------------






