/* line 5, ../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/* line 64, icons/*.png */
.icons-sprite, .icons-box, .icons-clock, .icons-cloud {
  background-image: url('../images/icons-sa4f337cfa3.png');
  background-repeat: no-repeat;
}

/* line 84, ../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.icons-box {
  background-position: 0 0;
  height: 76px;
  width: 84px;
}

/* line 84, ../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.icons-clock {
  background-position: 0 -86px;
  height: 76px;
  width: 84px;
}

/* line 84, ../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.icons-cloud {
  background-position: 0 -172px;
  height: 76px;
  width: 84px;
}

/* line 20, ../sass/stylesheet.scss */
.no-margin {
  margin: 0 !important;
}

/* line 21, ../sass/stylesheet.scss */
.no-gutter > [class*='col-'] {
  padding-right: 0;
  padding-left: 0;
}

/* line 25, ../sass/stylesheet.scss */
.left {
  float: left;
}

/* line 26, ../sass/stylesheet.scss */
.right {
  float: right;
}

/* line 28, ../sass/stylesheet.scss */
a:hover {
  text-decoration: none;
}

/* line 32, ../sass/stylesheet.scss */
body {
  background: #2d2d2d;
  cursor: pointer;
}

/* line 40, ../sass/stylesheet.scss */
#header {
  padding-left: 0px;
  padding-right: 0px;
  -moz-background-size: cover;
  -o-background-size: cover;
  -webkit-background-size: cover;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center top;
  background-attachment: scroll;
  background-image: url(../images/bg-night.jpg);
}
/* line 48, ../sass/stylesheet.scss */
#header .logo {
  padding-top: 50px;
  padding-bottom: 250px;
}
/* line 52, ../sass/stylesheet.scss */
#header #header-title-container {
  font-style: italic;
}
/* line 54, ../sass/stylesheet.scss */
#header #header-title-container h1 {
  font-weight: lighter;
  font-size: 60px;
  align-items: center;
  padding-bottom: 10px;
}
/* line 60, ../sass/stylesheet.scss */
#header #header-title-container p {
  font-size: 16px;
  line-height: 24px;
  padding-bottom: 100px;
}

/* line 69, ../sass/stylesheet.scss */
#map-container {
  height: 350px;
  width: 100%;
}
/* line 72, ../sass/stylesheet.scss */
#map-container h1 {
  color: #6d6d6d;
  font-size: 28px;
  text-transform: uppercase;
  text-align: center;
  margin-top: 50px;
  margin-bottom: 50px;
  font-weight: 200;
}

/* line 82, ../sass/stylesheet.scss */
#ocean {
  width: 960px;
  height: 560px;
  position: absolute;
  left: 235px;
  top: 120px;
  background-color: #6dacc0;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  border: 3px solid rgba(255, 255, 255, 0.4);
}

/* line 92, ../sass/stylesheet.scss */
#fluffy {
  margin-top: 170px;
  margin-left: 110px;
}

/* line 98, ../sass/stylesheet.scss */
#blocks {
  margin-top: 60px;
  margin-bottom: 50px;
}
/* line 101, ../sass/stylesheet.scss */
#blocks .container {
  max-width: 850px;
}
/* line 104, ../sass/stylesheet.scss */
#blocks h2 {
  text-align: center;
  font-size: 24px;
  padding-top: 20px;
  padding-bottom: 10px;
  color: #848484;
}
/* line 111, ../sass/stylesheet.scss */
#blocks p {
  text-align: justify;
  color: #6d6d6d;
}
